.inputLayoutContainer {
  display: flex;
  gap: 4.8rem;
  justify-content: space-between;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  border: 1px #999 solid;
  flex-basis: 90%;
}

.input {
  padding: 2.5rem 1rem 2.5rem 5rem;
  font-size: 1.92rem;
  color: #999;
  font-family: Montserrat;
  width: 100%;
  flex-shrink: 1;
  position: relative;
}

.heartIcon {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #999;
  pointer-events: none;
  z-index: 1;
  background-image: url("../../../heartIcon.svg");
  background-position: center left;
  background-repeat: no-repeat;
  padding: 2rem;
}

.colorBox {
  height: 100%;
  width: 3.2rem;
  min-width: 3.2rem;
  flex-basis: 10%;
  padding: 0.5rem;
  flex-shrink: 0;
  padding: 0.5rem 0.7rem;
}

.colorBox div {
  width: 100%;
  height: 100%;
  min-width: 3rem;
  border-radius: 6px;
  border: 1px dotted #333;
}

.addButton {
  flex-basis: 20%;
  font-size: 4.8rem;
  font-weight: 900;
  background-color: #000;
  max-width: 9.6rem;
  color: #fff;
  display: flex;
  justify-self: end !important;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: all 150ms;
  cursor: pointer;
  user-select: none;
}

.addButton:active {
  transform: scale(95%);
}

.relativePositionContainer {
  position: relative;
  flex-basis: 90%;
}

.resultsContainer {
  position: absolute;
  width: 100%;
  background-color: #fff;
  top: 8.3rem;
  border-radius: 1px solid #ddd;
  max-height: 20vh;
  overflow-y: auto;
  scrollbar-width: thick;
  border-radius: 0.8rem;
  border: 1px solid #999;
}

.result {
  cursor: pointer;
  transition: all 300ms ease-in-out;
  padding: 1rem;
}

.result:hover {
  background-color: beige;
}

.result p {
  margin: 0;
  font-size: 1.6rem;
  color: #999;
}

.noResults {
  margin: 0;
  padding: 0.5rem;
}

@media (max-width: 53.12em) {
  .inputWrapper {
    flex-basis: 80%;
  }
  .relativePositionContainer {
    flex-basis: 85%;
  }
  .colorBox {
    flex-basis: 15%;
  }
}

@media (max-width: 32.5em) {
  .inputLayoutContainer {
    gap: 1rem;
    justify-content: space-evenly;
  }
}

@media (max-width: 24.37em) {
  .inputLayoutContainer {
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
  }
  .relativePositionContainer {
    flex-basis: 100%;
  }
  .colorBox {
    height: 8rem;
  }
  .addButton {
    width: 100%;

    align-self: end;
  }
}
