body {
  margin: 0;
  padding: 0;
}
*,
body {
  box-sizing: border-box;
  background-color: #ccc;
}

.App {
  width: 100%;
  max-width: 70rem;
  background-color: beige;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 8px;
}
